@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  cursor: pointer
}

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

.bg {
  background-image: url('./assets/Background_Test.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


